<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<br>
<p>This post has these categories:
  <ul>
    <% @post.categories.each do |category| %> 
    <li><%= category.name %></li>
    <% end %>
  </ul>
</p>